*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea/
output.json
Thumbs.db
*.log
*.tmp
.gradletasknamecache
ic_launcher*

**/ExampleUnitTest.java
**/ExampleInstrumentedTest.java
